:root {
  --primaryColor: #bd0707;
  --secondaryColor: #f6dada;
}

/* Navbar Start */
nav {
  width: 100%;
  height: 80px;
  background-color: white;
}
nav .container-navbar .access img.img-profile {
  cursor: pointer;
  border-radius: 50px;
}
nav .container-navbar {
  width: 90%;
  margin: auto;
}
nav .container-navbar .logo-brand img {
  width: 60px;
}
nav .container-navbar .access button {
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
  font-weight: 500;
}
nav .container-navbar .navbar-link {
  width: 40%;
}
nav .container-navbar .navbar-link ul li {
  list-style: none;
  font-weight: 500;
  color: var(--primaryColor);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
nav .container-navbar .navbar-link ul li::after {
  content: '';
  background-color: var(--primaryColor);
  height: 3px;
  width: 0;
  display: block;
  border-radius: 3px;
  transition: 0.2s;
  margin: auto;
}
nav .container-navbar .navbar-link ul li:hover::after {
  width: 100%;
}
nav .container-navbar .access button.btn-login {
  border: 2px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  transition: 0.2s;
}
nav .container-navbar .access button.btn-login:hover {
  background-color: var(--primaryColor);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.151);
  color: white;
}
nav .container-navbar .access button.btn-register {
  border: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
  color: white;
  transition: 0.2s;
}
nav .container-navbar .access button.btn-register:hover {
  border: 2px solid #d14545;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.151);
  background-color: #d14545;
}

nav .navbar-link .box {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 200px;
  position: absolute;
  margin-top: 4px;
  padding: 10px;
  visibility: visible;
}
nav .navbar-link .box {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 200px;
  position: absolute;
  margin-top: 2.5px;
  padding: 10px;
  visibility: hidden;
}
nav .navbar-link ul li.store:hover .box,
nav .navbar-link ul li.menu:hover .box {
  visibility: visible;
}

nav .navbar-link ul li.store .box p::after,
nav .navbar-link ul li.menu .box p::after {
  content: '';
  display: block;
  background-color: #d14545;
  width: 0;
  height: 2px;
  transition: 0.1s;
}
nav .navbar-link ul li.store .box p:hover::after,
nav .navbar-link ul li.menu .box p:hover::after {
  width: 30%;
}
nav .access i {
  font-size: 32px;
  color: var(--primaryColor);
  cursor: pointer;
}

nav .access .shop p {
  color: var(--primaryColor);
}
nav .access .shop {
  position: relative;
}
nav .access .shop span {
  background-color: var(--primaryColor);
  color: white;
  font-weight: 700;
  padding: 0 0 0 1px;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 18px;
}
nav .access .profile ul.dropdown-menu li p {
  font-weight: 600;
  color: var(--primaryColor);
  padding-bottom: 2px;
}
nav .access .profile ul.dropdown-menu .logout {
  cursor: pointer;
}
nav .access .profile ul.dropdown-menu li p i {
  color: var(--primaryColor);
  font-size: 22px;
}
nav .access .profile ul.dropdown-menu li.li-profile {
  border-bottom: 2px solid #a8a8a8;
}

nav .access .dropdown .text-decoration-none {
  font-weight: 500;
  color: var(--primaryColor);
}

nav .access .dropdown button {
  background-color: var(--primaryColor);
  color: white;
}
/* Navbar End */

/* Header Start */
header {
  margin-top: 100px;
  height: 450px;
}
header .container {
  height: 100%;
  padding: 0;
  position: relative;
}
header .container .jumbotron {
  width: 90%;
  height: 100%;
  background-image: url('../../../assets/img/bg-waysbucks.png');
  background-size: cover;
  border-radius: 10px;
  padding: 90px 400px 80px 80px;
}

header .container .jumbotron h1 {
  font-weight: 700;
  color: white;
}
header .container .jumbotron p {
  font-weight: 500;
  color: white;
}

header .container .img-header {
  position: absolute;
  right: 0;
}

header .container .jumbotron button.btn-order {
  border: 2px solid white;
  color: white;
  font-weight: 500;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 20px;
}
header .container .jumbotron button.btn-order:hover {
  background-color: white;
  color: var(--primaryColor);
}

/* Header End */

/* Section Varian Start */
section.varian {
  margin: 150px 0 100px 0;
}
section.varian .container h3 {
  font-weight: 700;
  color: var(--primaryColor);
}
section.varian .container .row .col-md-3 .box-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  position: relative;
}
section.varian .container .row .col-md-3 .box-card .image-card .whistlist {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 40px;
}
section.varian .container .row .col-md-3 .box-card .image-card .whistlist button {
  border: none;
  background-color: transparent;
}
section.varian .container .row .col-md-3 .box-card .image-card .whistlist button.click-whistlist i {
  font-weight: 600;
}
section.varian .container .row .col-md-3 .box-card .image-card .whistlist i {
  color: var(--primaryColor);
  font-size: 24px;
}
section.varian .row .col-md-3 h5 {
  font-weight: 600;
  color: var(--primaryColor);
}
section.varian .row .col-md-3 p {
  font-weight: 500;
  color: var(--primaryColor);
}
section.varian .container .row .col-md-3 .box-card {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  transition: 0.2s;
  background-color: #f6dada52;
}
section.varian .container .row .col-md-3 .box-card:hover {
  transform: scale(1);
}
section.varian .container .row .col-md-3 .box-card .description {
  padding: 8px 8px 3px 8px;
}
section.varian .container .row .col-md-3 .box-card .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80%;
  top: 0;
  opacity: 0;
  transition: 0.2s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.varian .container .row .col-md-3 .box-card .overlay:hover {
  opacity: 1;
}
section.varian .container .row .col-md-3 .box-card .overlay button {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  padding: 5px 8px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
}
section.varian .container .row .col-md-3 .box-card .overlay button:hover {
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}
/* Section Varian End */

/* Detail Page Start */
/* checkbox start */

label.label-topping {
  border: 1px solid #fff;
  padding: 8px;
  display: block;
  position: relative;
  cursor: pointer;
}
label.label-topping:before {
  background-color: white;
  color: white;
  content: ' ';
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
label.label-topping img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
:checked + label.label-topping {
  border-color: var(--primaryColor);
}

:checked + label.label-topping:before {
  content: '✓';
  background-color: var(--primaryColor);
  transform: scale(1);
}

:checked + label.label-topping img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
/* checkbox end */
section.detail-page {
  margin: 150px 0 150px 0;
}

section.detail-page .box-check {
  position: relative;
}
section.detail-page .box-check .checkbox {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
section.detail-page .box-check label {
  font-weight: 600;
  color: var(--primaryColor);
  font-size: 14px;
}

section.detail-page .container .col-md-4 img {
  width: 100%;
  border-radius: 8px;
}

section.detail-page .container h1 {
  color: var(--primaryColor);
  font-weight: 700;
}
section.detail-page .container h3 {
  color: var(--primaryColor);
  font-weight: 700;
}
section.detail-page .container p {
  color: var(--primaryColor);
  font-weight: 600;
}
section.detail-page .container .toppings .col-md-3 img {
  width: 75px;
  height: 85px;
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.2s;
}
section.detail-page .container .toppings .col-md-3 img:hover {
  transform: scale(1);
}
section.detail-page .container .toppings p {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  padding: 3px;
}
section.detail-page .container .toppings p:hover {
  background-color: wheat;
  padding: 3px;
}
section.detail-page .container button.btn-total {
  width: 100%;
  border: none;
  background-color: var(--primaryColor);
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.2s;
}
section.detail-page .container button.btn-total:hover {
  background-color: #d14545;
}
section.detail-page .col-md-7 button.quantity {
  border: none;
  background-color: var(--primaryColor);
  color: white;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 2px;
  transition: 0.2s;
}
section.detail-page .col-md-7 button.quantity:hover {
  background-color: #d14545;
}
section.detail-page .container .quantity p {
  background-color: rgb(255, 242, 219);
  font-weight: 700;
  font-size: 18px;
  padding: 3.5px 20px;
}
/* Detail Page End */

/* Cart Page Start */
section.cart-page {
  margin-top: 150px;
  margin-bottom: 50px;
}

section.cart-page .container .col-md-7,
section.cart-page .container .col-md-5 {
  height: 100%;
}

section.cart-page .container .title h1 {
  font-weight: 700;
  color: var(--primaryColor);
}
section.cart-page .container .title h5 {
  font-weight: 600;
  color: var(--primaryColor);
  margin-bottom: 10px;
}
section.cart-page .container .col-md-7 .parent-list {
  border-top: 2px solid #974a4a;
  padding-top: 20px;
  border-bottom: 2px solid #974a4a;
  margin-bottom: 20px;
}
section.cart-page .container .col-md-7 .list-cart img {
  width: 90px;
  border-radius: 10px;
}
section.cart-page .container .col-md-7 .list-cart p {
  font-weight: 600;
  color: var(--primaryColor);
}
section.cart-page .container .col-md-7 .list-cart i {
  color: var(--primaryColor);
  font-size: 20px;
  cursor: pointer;
}
section.cart-page .container .col-md-5 input {
  border: 2px solid var(--primaryColor);
  outline: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #e0c8c840;
}
section.cart-page .container .col-md-5 #address {
  resize: none;
  height: 120px;
  border: 2px solid var(--primaryColor);
  outline: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #e0c8c840;
}
section.cart-page .container .col-md-5 button.btn-pay {
  border: none;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  color: white;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  background-color: var(--primaryColor);
}
section.cart-page .container .col-md-7 .sub-total {
  border-top: 1.5px solid #974a4a;
  border-bottom: 1.5px solid #974a4a;
  margin-bottom: 8px;
}
section.cart-page .container .col-md-7 .sub-total p,
section.cart-page .container .col-md-7 .total p {
  font-weight: 600;
  color: var(--primaryColor);
}
section.cart-page .container .col-md-7 .total p {
  font-size: 22px;
}

section.cart-page .container label.upload-struck {
  background-color: #e0c8c840;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
  cursor: pointer;
}
section.cart-page .container label.upload-struck p {
  font-weight: 500;
  padding-top: 8px;
  color: var(--primaryColor);
}
section.cart-page-null {
  height: 100vh;
}
section.cart-page-null h1 {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 36px;
  margin: 10px 0 10px 0;
}
section.cart-page-null button.btn-empty {
  background-color: var(--primaryColor);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.219);
}
section.cart-page-null button.btn-empty:hover {
  background-color: #d14545;
}
section.cart-page p.alert {
  font-weight: 600;
  color: var(--primaryColor);
  background-color: wheat;
  padding: 0;
  margin-top: 8px;
}

/* Cart Page End */

/* Profile Start */
section.profile {
  margin-top: 150px;
}
section.profile .col-md-6 img.profile {
  border-radius: 8px;
}
section.profile .col-md-6 h3,
section.profile .col-md-6 h6 {
  font-weight: 600;
  color: var(--primaryColor);
}
section.profile .col-md-6 p {
  font-weight: 600;
  color: var(--primaryColor);
}
section.profile .col-md-6 img.coffee {
  width: 100px;
  border-radius: 8px;
}
section.profile .col-md-6 img.logo {
  width: 75px;
}
section.profile .col-md-6 img.barcode {
  width: 90px;
}
section.profile .col-md-6.transaction p {
  font-size: 14px;
  margin: 0;
}
section.profile .col-md-6.transaction .box-transaction {
  background-color: #f6dada;
  border-radius: 10px;
  padding: 20px;
}
section.profile button.btn-action {
  background-color: #0acf83;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 8px;
  color: white;
}

section.profile .box-transaction p.text-total {
  color: #974a4a;
  font-weight: 600;
  font-size: 14px;
}

section.profile button.btn-change-profile {
  background-color: var(--primaryColor);
  border: var(--primaryColor);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
}
section.profile button.btn-change-profile:hover {
  background-color: #d63030;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.modal-profile input {
  border: 2px solid var(--primaryColor);
  background-color: #e0c8c840;
  border-radius: 8px;
  width: 70%;
  padding: 6px 12px;
  outline: none;
}
.modal-profile label.input-profile {
  border: 2px solid var(--primaryColor);
  background-color: #e0c8c840;
  border-radius: 8px;
  width: 70%;
  padding: 6px 12px;
}
.modal-profile label.input-profile p {
  color: #bd070763;
}
.modal-profile .form-profile label.text-profile,
.modal-profile .form-profile .text-profile {
  font-weight: 600;
  color: var(--primaryColor);
  font-size: 18px;
}
.modal-profile .update-profile {
  font-weight: 600;
  color: var(--primaryColor);
  font-size: 22px;
}
.modal-profile .btn-danger-profile {
  font-weight: 600;
  color: white;
  background-color: var(--primaryColor);
}
.modal-profile .btn-danger-profile:hover {
  background-color: #d14545;
}
/* Profile End */
