:root {
  --primaryColor: #bd0707;
  --secondaryColor: #f6dada;
  --gradientRed: linear-gradient(#cf0000, #ff5c00);
  --gradientBlue: linear-gradient(#00a3ff, #3fbaff);
  --gradientYellow: linear-gradient(#ffb341, #facc27);
}
/* Box 1 Start */
section.admin {
  margin-top: 140px;
  margin-bottom: 150px;
}

section.admin .container .col-md-4.box-income-transaction {
  background: var(--gradientRed);
  width: 345px;
  height: 217px;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
  transform: scale(0.98);
  transition: 0.2s;
}

section.admin .col-md-4.box .info {
  height: 100%;
}
section.admin .col-md-4.box .icon img {
  width: 100px;
}

section.admin .title p {
  font-size: 18px;
  font-weight: 600;
  color: white;
}
section.admin .check p {
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

section.admin .container .col-md-4.box-product {
  background: var(--gradientBlue);
  width: 345px;
  height: 217px;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
  transform: scale(0.98);
  transition: 0.2s;
}
section.admin .container .col-md-4.box-topping {
  background: var(--gradientYellow);
  width: 345px;
  height: 217px;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
  transform: scale(0.98);
  transition: 0.2s;
}
section.admin .col-md-4.box-product .icon img,
section.admin .col-md-4.box-topping .icon img {
  width: 80px;
}

section.admin .link-router p:hover {
  color: #3d3d3d;
}

section.admin .container .col-md-4.box:hover {
  transform: scale(1);
}
/* Box 1 End */

/* Box Sosmed Start */
section.admin .row.social-media .box-sosmed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
  border-radius: 6px;
  padding: 8px 15px;
  transform: scale(0.98);
  transition: 0.2s;
}
section.admin .row.social-media .box-sosmed:hover {
  transform: scale(1);
}
section.admin .row.social-media .box-sosmed p {
  color: var(--primaryColor);
  font-weight: 500;
}
/* Box Sosmed Start */

/* Diagram Users Start */
section.admin .row.diagram-users .diagram img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

section.admin .container .col-md-4.box-users {
  background: var(--gradientRed);
  width: 345px;
  height: 217px;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.212);
  transform: scale(0.98);
  transition: 0.2s;
}
/* Diagram Users End */

/* Add Product Start */
/* Add Product Start */
section.add-product {
  height: 100vh;
  margin-top: 150px;
}
section.add-product h1 {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 32px;
}
section.add-product input {
  padding: 8px;
  border-radius: 8px;
  background-color: #e0c8c840;
  border: 2px solid var(--primaryColor);
  font-weight: 600;
  color: #68323280;
  outline: none;
}

section.add-product label.label-upload {
  padding: 8px;
  border-radius: 8px;
  background-color: #e0c8c840;
  border: 2px solid var(--primaryColor);
  font-weight: 600;
  color: #68323280;
  cursor: pointer;
}
section.add-product button.btn-add-product {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-top: 50px;
}
section.add-product .col-md-5 img {
  width: 350px;
  border-radius: 10px;
}
section.add-product .form-check-label p {
  font-weight: 600;
  color: var(--primaryColor);
  padding-left: 5px;
}

.modal-delete h3 {
  color: var(--primaryColor);
}
.modal-delete .btn-closed {
  font-weight: 600;
}
.modal-delete .btn-delete {
  font-weight: 600;
  background-color: var(--primaryColor);
  border: none;
}
.modal-delete .btn-delete:hover {
  background-color: #cf0000;
}
/* Add Product End */

/* Income Start */
section.income-transaction {
  margin-top: 150px;
  margin-bottom: 150px;
}
section.income-transaction h1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--primaryColor);
}
section.income-transaction table {
  border: 2px solid #828282;
}
section.income-transaction table tr td,
section.income-transaction table tr th {
  border-right: 2px solid #828282;
}
section.income-transaction table tr {
  border-bottom: 2px solid #828282;
}
section.income-transaction table thead {
  background-color: #e5e5e5;
}

section.add-product img.img-upload {
  width: 200px;
}

section.income-transaction .title button {
  background-color: transparent;
  border: 2px solid var(--primaryColor);
  padding: 4px 13px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--primaryColor);
  transition: 0.2s;
}
section.income-transaction .title button:hover {
  background-color: var(--primaryColor);
  color: white;
}
section.income-transaction tbody img {
  width: 50px;
}
section.income-transaction tbody .action button.trash {
  background-color: var(--primaryColor);
  color: white;
  font-weight: 600;
  border: 2px solid var(--primaryColor);
  padding: 3px 15px;
  border-radius: 5px;
}
section.income-transaction tbody .action button.trash:hover {
  background-color: #ff5c00;
  border: 2px solid #ff5c00;
}
section.income-transaction tbody .action button.me-2 {
  background-color: transparent;
  color: var(--primaryColor);
  font-weight: 600;
  border: 2px solid var(--primaryColor);
  padding: 3px 15px;
  border-radius: 5px;
}
section.income-transaction tbody .action button.me-2:hover {
  background-color: var(--primaryColor);
  color: white;
}
section.income-transaction tbody tr td {
  font-weight: 600;
  color: #3d3d3d;
}
/* Income End */
