@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --primaryColor: #bd0707;
  --secondaryColor: #f6dada;
}

body {
  font-family: 'Quicksand', sans-serif;
}

/* Footer Start */
footer {
  width: 100%;
  height: 350px;
  background-color: var(--primaryColor);
}

footer p {
  font-weight: 400;
  color: white;
  font-size: 14px;
}

footer .container-footer {
  width: 90%;
  margin: auto;
}

footer .container-footer .col-md-4.footer-menu {
  text-align: end;
}
footer .container-footer .col-md-4.footer-menu ul li {
  list-style: none;
}
footer i {
  color: white;
  font-size: 28px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid white;
  padding: 8px;
  margin: 8px;
  transition: 0.2s;
  cursor: pointer;
}
footer i:hover {
  color: var(--primaryColor);
  background-color: white;
  border: 2px solid white;
}
footer a,
footer .link-footer {
  text-decoration: none;
  color: white;
}
footer a:hover,
footer .link-footer p:hover {
  text-decoration: none;
  color: black;
}
/* Footer End */
